@charset "UTF-8";

/* Margin top from 0-50 in pixels */
.mt0 {margin-top: 0;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt25 {margin-top: 25px;}
.mt30 {margin-top: 30px;}
.mt35 {margin-top: 35px;}
.mt40 {margin-top: 40px;}
.mt50 {margin-top: 50px;}

/* Margin bottom from 0-50  in pixels */
.mb0 {margin-bottom: 0;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb8 {margin-bottom: 8px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mb25 {margin-bottom: 25px;}
.mb30 {margin-bottom: 30px;}
.mb35 {margin-bottom: 35px;}
.mb40 {margin-bottom: 40px;}
.mb50 {margin-bottom: 50px;}

/* Margin left from 0-50 in pixels */
.ml0 {margin-left: 0;}
.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.ml25 {margin-left: 25px;}
.ml30 {margin-left: 30px;}
.ml35 {margin-left: 35px;}
.ml40 {margin-left: 40px;}
.ml50 {margin-left: 50px;}

/* Margin right from 0-50 in pixels */
.mr0 {margin-right: 0;}
.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}
.mr25 {margin-right: 25px;}
.mr30 {margin-right: 30px;}
.mr35 {margin-right: 35px;}
.mr40 {margin-right: 40px;}
.mr50 {margin-right: 50px;}

/* Padding top from 0-50 in pixels */
.pt0 {padding-top: 0;}
.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt15 {padding-top: 15px;}
.pt20 {padding-top: 20px;}
.pt25 {padding-top: 25px;}
.pt30 {padding-top: 30px;}
.pt35 {padding-top: 35px;}
.pt40 {padding-top: 40px;}
.pt50 {padding-top: 50px;}

/* Padding bottom from 0-50 in pixels */
.pb0 {padding-bottom: 0;}
.pb5 {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}
.pb25 {padding-bottom: 25px;}
.pb30 {padding-bottom: 30px;}
.pb35 {padding-bottom: 35px;}
.pb40 {padding-bottom: 40px;}
.pb50 {padding-bottom: 50px;}

/* Padding left from 0-50 in pixels */
.pl0 {padding-left: 0;}
.pl5 {padding-left: 5px;}
.pl10 {padding-left: 10px;}
.pl15 {padding-left: 15px;}
.pl20 {padding-left: 20px;}
.pl25 {padding-left: 25px;}
.pl30 {padding-left: 30px;}
.pl35 {padding-left: 35px;}
.pl40 {padding-left: 40px;}
.pl50 {padding-left: 50px;}

/* Padding right from 0-50 in pixels */
.pr0 {padding-right: 0;}
.pr5 {padding-right: 5px;}
.pr10 {padding-right: 10px;}
.pr15 {padding-right: 15px;}
.pr20 {padding-right: 20px;}
.pr25 {padding-right: 25px;}
.pr30 {padding-right: 30px;}
.pr35 {padding-right: 35px;}
.pr40 {padding-right: 40px;}
.pr50 {padding-right: 50px;}

/* Rest the margin and padding to 0 value */
.m0 {
	margin: 0 !important;
}
.p0 {
	padding: 0 !important;
}

/* Padding for all sides of the screen */
.p5 {padding: 5px;}
.p10 {padding: 10px;}
.p15 {padding: 15px;}
.p20 {padding: 20px;}
.p25 {padding: 25px;}
.p30 {padding: 30px;}
.p35 {padding: 35px;}
.p40 {padding: 40px;}
.p45 {padding: 45px;}
.p50 {padding: 50px;}

/* Padding for left & right of the screen */
.plr5 {padding-left: 5px; padding-right: 5px;}
.plr10 {padding-left: 10px; padding-right: 10px;}
.plr15 {padding-left: 15px; padding-right: 15px;}
.plr20 {padding-left: 20px; padding-right: 20px;}
.plr25 {padding-left: 25px; padding-right: 25px;}
.plr30 {padding-left: 30px; padding-right: 30px;}
.plr35 {padding-left: 35px; padding-right: 35px;}
.plr40 {padding-left: 40px; padding-right: 40px;}
.plr45 {padding-left: 45px; padding-right: 45px;}
.plr50 {padding-left: 50px; padding-right: 50px;}

/* Margin for all sides of the screen */
.m5 {margin: 5px;}
.m10 {margin: 10px;}
.m15 {margin: 15px;}
.m20 {margin: 20px;}
.m25 {margin: 25px;}
.m30 {margin: 30px;}
.m35 {margin: 35px;}
.m40 {margin: 40px;}
.m45 {margin: 45px;}
.m50 {margin: 50px;}

/* Margin zero and negative on both left and right sides of the screen */
.mlr-0 {
	margin-left: 0;
	margin-right: 0;
}
.mlr-5 {
	margin-left: -5px;
	margin-right: -5px;
}
.mlr-10 {
	margin-left: -10px;
	margin-right: -10px;
}
.mlr-15 {
	margin-left: -15px;
	margin-right: -15px;
}
.mlr-20 {
	margin-left: -20px;
	margin-right: -20px;
}
.mlr-25 {
	margin-left: -25px;
	margin-right: -25px;
}
.mlr-30 {
	margin-left: -30px;
	margin-right: -30px;
}

/* Margin negative on left side of the screen */
.ml-0 {
	margin-left: 0;
}
.ml-5 {
	margin-left: -5px;
}
.ml-10 {
	margin-left: -10px;
}
.ml-15 {
	margin-left: -15px;
}
.ml-20 {
	margin-left: -20px;
}
.ml-25 {
	margin-left: -25px;
}
.ml-30 {
	margin-left: -30px;
}

/* Margin negative on right side of the screen */
.mr-0 {
	margin-right: 0;
}
.mr-5 {
	margin-right: -5px;
}
.mr-10 {
	margin-right: -10px;
}
.mr-15 {
	margin-right: -15px;
}
.mr-20 {
	margin-right: -20px;
}
.mr-25 {
	margin-right: -25px;
}
.mr-30 {
	margin-right: -30px;
}

/* width with percentage values */
.gbl_full-width {
	width: 100%;
}
.gbl_width-95p {
	width: 95%;
}
.gbl_width-90p {
	width: 90%;
}
.gbl_width-85p {
	width: 85%;
}
.gbl_width-80p {
	width: 80%;
}
.gbl_width-75p {
	width: 75%;
}
.gbl_width-70p {
	width: 70%;
}
.gbl_width-65p {
	width: 65%;
}
.gbl_width-60p {
	width: 60%;
}
.gbl_width-55p {
	width: 55%;
}
.gbl_width-50p {
	width: 50%;
}
.gbl_width-45p {
	width: 45%;
}
.gbl_width-40p {
	width: 40%;
}
.gbl_width-35p {
	width: 35%;
}
.gbl_width-30p {
	width: 30%;
}
.gbl_width-25p {
	width: 25%;
}
.gbl_width-20p {
	width: 20%;
}
.gbl_width-15p {
	width: 15%;
}
.gbl_width-10p {
	width: 10%;
}
.gbl_width-5p {
	width: 5%;
}

/*width with pixel value*/
.gbl_width-5 {
	width: 5px;
}
.gbl_width-10 {
	width: 10px;
}
.gbl_width-15 {
	width: 15px;
}
.gbl_width-20 {
	width: 20px;
}
.gbl_width-25 {
	width: 25px;
}
.gbl_width-30 {
	width: 30px;
}
.gbl_width-35 {
	width: 35px;
}
.gbl_width-40 {
	width: 40px;
}
.gbl_width-45 {
	width: 45px;
}
.gbl_width-50 {
	width: 50px;
}

/*strong full width*/
.gbl_FULL-FULL-width {
	width: 100% !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
/*extend to container full width*/
.gbl_main-content.pl40.pr40 .gbl_container-extend-full {
	margin-left: -40px !important;
	margin-right: -40px !important;
}

/*global height*/
.gbl_height-50 {
	height: 50px;
}
.gbl_height-100 {
	height: 100px;
}
.gbl_height-150 {
	height: 150px;
}
.gbl_height-200 {
	height: 200px;
}
.gbl_height-250 {
	height: 250px;
}
.gbl_height-300 {
	height: 300px;
}
.gbl_height-350 {
	height: 350px;
}
.gbl_height-400 {
	height: 400px;
}
.gbl_height-450 {
	height: 450px;
}
.gbl_height-500 {
	height: 500px;
}
.gbl_height-550 {
	height: 550px;
}
.gbl_height-600 {
	height: 600px;
}
.gbl_height-650 {
	height: 650px;
}
.gbl_height-700 {
	height: 700px;
}
.gbl_height-750 {
	height: 750px;
}
.gbl_height-800 {
	height: 800px;
}
.gbl_height-850 {
	height: 850px;
}
.gbl_height-900 {
	height: 900px;
}
.gbl_height-950 {
	height: 950px;
}
.gbl_height-1000 {
	height: 1000px;
}
.gbl_height-auto {
	height: auto;
}

/*end spacing styles*/

/*set line height to "1" for accuricy of vertical spacing*/
.gbl_lh-1 {
  line-height: 1;
}

/*line height with pixel value*/
.gbl_lh-10 {
	line-height: 10;
	height: 10px;
}
.gbl_lh-12 {
	line-height: 12px;
	height: 12px;
}
.gbl_lh-15 {
	line-height: 15px;
	height: 15px;
}
.gbl_lh-20 {
	line-height: 20px;
	height: 20px;
}
.gbl_lh-25 {
	line-height: 25px;
	height: 25px;
}
.gbl_lh-30 {
	line-height: 30px;
	height: 30px;
}
.gbl_lh-35 {
	line-height: 35px;
	height: 35px;
}
.gbl_lh-40 {
	line-height: 40px;
	height: 40px;
}
.gbl_lh-45 {
	line-height: 45px;
	height: 45px;
}
.gbl_lh-50 {
	line-height: 50px;
	height: 50px;
}

/*line height*/
.gbl_lh-1 {
	line-height: 1;
}
.gbl_lh-12 {
	line-height: 1.2
}
.gbl_lh-14 {
	line-height: 1.4;
}
.gbl_lh-16 {
	line-height: 1.6;
}
.gbl_lh-18 {
	line-height: 1.8;
}
.gbl_lh-20 {
	line-height: 2.0;
}
.gbl_lh-22 {
	line-height: 2.2;
}
.gbl_lh-24 {
	line-height: 2.4;
}
.gbl_lh-26 {
	line-height: 2.6;
}
.gbl_lh-28 {
	line-height: 2.8;
}
.gbl_lh-30 {
	line-height: 3.0;
}


/*Font sizes with em value*/
.fs0pt66{
    font-size: 0.6666666666666666em; /* font size 10 in pixel */
}
.fs0pt73{
    font-size: 0.7333333333333333em;    /* font size 11 in pixel */
}
.fs0pt8{
    font-size: 0.8em;   /* font size 12 in pixel */
}
.fs0pt86{
    font-size: 0.8666666666666667em;    /* font size 13 in pixel */
}
.fs0pt93{
    font-size: 0.9333333333333333em; /* font size 14 in pixel */
}
.fs1em{
    font-size: 1em; /* font size 15 in pixel */
}
.fs1pt06{
    font-size: 1.0666666666666667em;    /* font size 16 in pixel */
}
.fs1pt2{
    font-size: 1.2em;   /* font size 18 in pixel */
}
.fs1pt33{
    font-size: 1.3333333333333333em;    /* font size 20 in pixel */
}
.fs1pt4{
    font-size: 1.4em;   /* font size 21 in pixel */
}
.fs1pt46{
    font-size: 1.4666666666666666em; /* font size 22 in pixel */
}
.fs1pt6{
    font-size: 1.6em;    /* font size 24 in pixel */
}
.fs1pt73{
    font-size: 1.7333333333333334em;    /* font size 26 in pixel */
}
.fs1pt86{
    font-size: 1.8666666666666667em;    /* font size 28 in pixel */
}
.fs2pt0{
    font-size: 2em;    /* font size 30 in pixel */
}
.fs2pt13{
    font-size: 2.1333333333333333em;    /* font size 32 in pixel */
}
.fs2pt26{
    font-size: 2.2666666666666666em;    /* font size 34 in pixel */
}
.fs2pt4{
    font-size: 2.4em;    /* font size 36 in pixel */
}
.fs2pt53{
    font-size: 2.533333333333333em;    /* font size 38 in pixel */
}
.fs2pt66{
    font-size: 2.6666666666666665em;    /* font size 40 in pixel */
}

.mycu_darkgray {
	color: #313131;
}

.position-relative {
	position: relative;
}


.glyphicon-search:before {
  content: "\e003" !important;
}